* {
    padding: 0;
    margin: 0;
    font-family: "DejaVuSansMono", monospace;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background-image: linear-gradient(to right, #F5F7FA , #b8c6db7a);
}

a {
    color: inherit;
    text-decoration: none;
}

.footer {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
