.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: rgba(240, 240, 240, 0.39);
    border-radius: 1px;
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(155, 155, 155, 0.37);
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    padding-left: 2rem;
}

.title {
    font-size: larger;
    font-weight: bolder;
}

.navbar a:hover {
    background-color: rgba(53, 253, 53, 0.747);
    text-decoration: underline;
}

.main_content {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    column-gap: 50px;
}

.main_content .tile {
    background: rgba(240, 240, 240, 0.39);
    border-radius: 5px;
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(155, 155, 155, 0.37);
    margin-bottom: 5%;
}

.tile {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 50%;
    margin-top: 10%;
    text-align: left;
}

.tile h2 {
    padding: 5px;
    text-decoration: underline;
    flex: 1 0 auto;
}

.tile p {
    padding: 5px;
    flex: 1 0 auto;
}

.info {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    column-gap: 30px;
}

@media screen and (max-width:992px) {
    .info {
        flex-direction: column;
    }
}

.info a:hover {
    background-color: rgba(53, 253, 53, 0.747);
    text-decoration: underline;
}

.programmer {
    filter: grayscale(100%);
}

.scene {
    width: 100vw;
    height: 50vh;
}

.canvas {
    background: rgba(255, 255, 255, 0);
}